/* Custom Styles  */
.myButton
{
    background-color: red;
}

/* testo centrale */

/* custom tile */
.margine
{
    margin:10px;
}
.centopercento{
    width: 100%;
    height: 100%;
}

.sapUiGlobalBackgroundColor {

    background-color: red !important;

}